<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filter</title>
</head>
<body>

<div ng-app="filter">
    演示自定义filter<br>
    <input type="text" ng-model="message">
    {{message | reverse}}

    <br><br>演示ng自带的filter<br>
    <!-- 如果是search.$表示搜索所有的跟search效果一样-->
    搜索框 <input type="text" ng-model="search.name">
    <div ng-controller="filterCtrl">
        <table>
            <!--这里写filter:search就可以了,我只能认为angular只取了前缀,即search=search.name-->
            <!-- -表示取反的意思-->
            <tr ng-repeat="data in datas |orderBy:'-id'|limitTo:-3 | filter:search">
                <td>{{data.id}}</td>
                <td>{{data.name|lowercase}}</td>
                <td>{{data.price}}</td>
            </tr>
        </table>
    </div>
</div>

<script src="../angular.js"></script>
<script src="../js/filters/filter.js"></script>

</body>
</html>
